*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
h1{
    align-self: center;
}
img{
    margin: 1rem;
    padding: 1rem;
}
a{
    display: grid;
}
.i1{
    grid-column-start: 1;
}
.i2{
    grid-column-start: 2;
}
