*{
    margin: 0;
    padding-left: 1rem;
    background-color: black;
    color: white;
    font-family: 'Montserrat';
}
h1{
    align-self: center;
}

img{
    padding: 2rem 0 2rem 4rem;
    
}
.grid{
    display: inline-block;
}
button{
    border: none;
    border-radius: 20px;
    justify-content: center;
    margin: 1rem;
    width: 20%;
    height: 3rem;
    padding: 1rem;
    font-family: 'Montserrat';
    background-color: rgb(230, 227, 227)
}
button a{
    text-decoration: none;
    background-color: inherit;
    color: black;
}
a:hover{
    transform: scale(1.1);
}
